<%- include ('../partials/header') %>
<style>


.profile {
    width: 50px;
    height: 50px;
    margin-right: 32px;
}

#mainContent {
    margin-top: 42px;
    display: flex;
    gap: 16px 0px;
    flex-direction: column;
    align-items: center;
}

#current {
    padding: 20px 0px;
    border-radius: 12px;
    margin-top: 32px;
    background: #1DB954;
    width: 50%;
    display: flex;
    gap: 16px 0px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#currentHeader {
    color: white;
}

.friends {
    display: flex;
    margin-bottom: 16px;
}

.btn {
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
}

</style>
<%- include ('../partials/menu') %>
    
<main>
    <div id="mainContent">
        <h1>Add Friends on the Prospects Page!</h1>
        <div id="current">
            <h1 id="currentHeader">Current Friends</h1>
            <div class="friends">
                <% queryData[0].forEach(obj => { %>
                    <img src=<%= obj.profilepicurl %> width="50", height="50">
                    <%= obj.displayname%>
                <% }) %>
            </div>
            <!-- need to change this to make it mixifiy functional... dunno which object id to use -->
            <form action='http://localhost:3000/mixify/mix' method='POST'> 
                <!-- Pass the current userid to friendUserID in index.js -->
                <button type='submit' class='btn btn-primary'>Mixify</button>
              </form       
    </div>
</main>

<%- include ('../partials/footer') %>
